#loading {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background: url(../img/loader.gif) center no-repeat #fff;
  background-size: 10vw;
  opacity: 0.9;
}

.btn-group .btn {
  cursor: pointer;
}

body {
  margin: 15px;
}

@font-face {
  font-family: clock;
  src: url("../fonts/clock.ttf");
}

#eventTimer {
  font-size: 4em;
  font-family: clock;
  color: blue;
}
